# using bootstrap theme Cerulean - https://bootswatch.com/cerulean/
extends layout
block content
  div.container.col-lg-12
    h1= title
    br
    p #[a.btn.btn-default.btn-info(href="https://github.com/wddlz/Complexity") Github repository for built project] 
    br
    h3 Build history
    div.col-lg-8
      table.table.table-bordered.table-hover.table-striped
        thead
          tr
            th.text-center Date
            th.text-center Branch
            th.text-center Build Log
            th.text-center Test Suite Log
            th.text-center Statement Coverage
            th.text-center Fuzzing Test Log
            th.text-center Static Analysis Log
            th.text-center Commit Status
        tbody
          each commit, i in data
            tr 
              td.text-center #{commit.date}
              
              td.text-center #{commit.branch}
              
              -if (commit.buildstatus=='failure')
                td.danger.text-center 
                  a(href='/' + commit.buildLink) #{commit.buildLink}
              -else
                td.success.text-center 
                  a(href='/' + commit.buildLink) #{commit.buildLink}
              
              -if (commit.teststatus=='failure')
                td.danger.text-center 
                  a(href='/' + commit.testLink) #{commit.testLink}
              -else
                td.success.text-center 
                  a(href='/' + commit.testLink) #{commit.testLink}

              td.text-center #{commit.coverage}

              -if (commit.fuzzstatus=='failure')
                td.danger.text-center 
                  a(href='/' + commit.fuzzLink) #{commit.fuzzLink}
              -else
                td.success.text-center 
                  a(href='/' + commit.fuzzLink) #{commit.fuzzLink}

              -if (commit.staticstatus=='failure')
                td.danger.text-center 
                  a(href='/' + commit.staticLink) #{commit.staticLink}
              -else
                td.success.text-center 
                  a(href='/' + commit.staticLink) #{commit.staticLink}

              -if (commit.buildstatus=='failure' || commit.teststatus=='failure' || commit.fuzzstatus=='failure' || commit.staticstatus=='failure')
                td.danger.text-center #{"Rejected"}
              -else
                td.success.text-center #{"Accepted"}